@charset "UTF-8";

table.emsview {
	width: 50%;
	border-collapse: collapse;
	border-spacing: 0;
	margin: 15px auto;
}

table.emsview tr {
	height: 100px;
}

table.emsview tr.img {
	height: 100%;
}

table.emsview th {
	background: beige;
}

table.emsview td {
	background-color: ivory;
}